@import url("styles.css");

body {
  background-color: var(--color-fundo-8);
}
.form_cadastro {
  width: 50%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  margin-top: 8%;
}
.img_cadastro {
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img_cadastro img {
  width: 70px;
}
.h2_cadastro {
  color: black;
  margin-top: 10px;
}
.formulario_cadastro {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.input_cadastro {
  height: 30px;
  width: 400px;
  border: 2px solid var(--color-primary-1);
  border-radius: 5px;
}
.input_cadastro:focus {
  border-color: var(--color-primary-2);
  box-shadow: 0px 2px 2px var(--color-primary-2);
  outline: none;
}
.input_cadastro::placeholder {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.7;
  padding: 0px 10px;
}
.button_cadastro button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}
.vermelho_cadastro {
  color: white;
  background-color: var(--color-primary-10);
}
.verde_cadastro {
  color: white;
  background-color: var(--color-primary-9);
}
.p_cadastro {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
  font-style: bold;
}
.a_cadastro{
  color: var(--color-primary-6);
}
@media (max-width:360px){
  .form_cadastro{
    width: 90%;
    position: relative;
    padding: 20px;
    margin: 10px auto;
    margin-top: 30%;
    align-items: center;
  }
  .input_cadastro {
    width: 250px;
  }
}
