@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --color-primary-1: #d686ee;
  --color-primary-2: #886492;
  --color-primary-3: #ffe8ff;
  --color-primary-4: #00524c;
  --color-primary-5: #c1fcf5;
  --color-primary-6: #49817b;
  --color-fundo-7: #edf1d6;
  --color-primary-8: #e7f0dc;
  --color-primary-9: #19ac3b;
  --color-primary-10: #e90f0f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
