:root {
  --color-primary-1: #d686ee;
  --color-primary-2: #886492;
  --color-primary-3: #ffe8ff;
  --color-primary-4: #00524c;
  --color-primary-5: #c1fcf5;
  --color-primary-6: #49817b;
  --color-primary-7: #edf1d6;
  --color-primary-8: #e7f0dc;
}
